main {
    padding-top: 100px; 
    width: 100%;
    margin: 0 auto;
    /* 移除 min-height: 1200px; */ 
    background-color: transparent;
    /* height: 1600px; */
    /* border: 10px solid blue; */

}




* {
    /* border: 1px solid red; */
}

.about-wapper{
    /* border: 3px solid blue; */
    width: 100%;
    margin-top: 0px;

}

/* about */
.about-info {
    
    
}
.about-info h1 {
    font-size: 26px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
    /* margin-left: 500px; */
    font-family: "Noto Serif TC", serif; 
}
.about-info-txt {
    /* width: 50%; */
    /* max-width: 700px; */
    margin: 20px auto 50px auto; 
    color: #5D5959;
    line-height: 1.8;
    font-size: 16px;
    /* margin-left: 500px; */
}

/* block1 */

.block-1-img img{
    /* width: 60%; */
}

.block-1-txt {
    width: 80%;
    /* margin-left: 13%; */
    color: #5D5959;
    line-height: 1.8;
    font-size: 16px;
    margin-left: 20%;
}

.txtgroup1 {
    /* padding: 0; */
    width: 55%;
    
    
}
.feature-block-1 h3 {
    width: 80%;
    /* margin-left: 23%; */
    /* border: 1px solid blue; */
    font-family: "Noto Serif TC", serif; 
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 20%;
}



/* block2 */
.feature-block-2 {
    margin-left: 60%;
    margin-top: -7%;
}
.block-2-img img{
    width: 100%;
}

.block-2-txt {
    width:100%;
    color: #5D5959;
    line-height: 1.8;
    font-size: 16px;
    /* margin-left: 27%; */
}

.feature-block-2 h3 {
    margin-left: 27%;
    font-family: "Noto Serif TC", serif; 
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
}

/* block3 (大螢幕/預設 - 保持重疊效果) */
main {
    position: relative; /* 確保絕對定位的圖片以 main 為基準 */
}

.block-3-1-img img {
    /* position: absolute; */
    /* margin-top: 40%;
    margin-left: 5%;
    width: 250px; */
}
.block-3-2-img img {
    /* position: absolute; */
    /* margin-top: 30%;
    margin-left: 2%;
    width: 250px;
    left: 35%; */
}
.block-3-3-img img {
    /* position: absolute; */
    /* margin-top: 30%;
    margin-left: 5%;
    width: 250px;
    left: 8%; */
}

@media screen and (min-width: 375px) {
    main {
    width: 100%;
    }

    main > section,
    main > div {
        width: 100%; 		
    }

    .about-info h1{
        text-align: center;
        margin-top: -40px;

    }
    .about-info {
        text-align: center;
    }

    .about-info-txt {
        /* margin-left: 20%; */
        /* background-color: blue; */
        padding: 35px;
        text-align: left;
        
        line-height: 1.6;

         /* width: 50%; */
        
    }

    .block-1-img img{
        width: 100%;
        margin-top: -40px;
        
    }

    .block-1-txt {
        /* width: 80%; */
        /* margin-left: 10%; */
    }

    .feature-block-1 h3 {
        /* width: 100%; */
        /* margin-left: 20%; */
    } 

    .feature-block-2 {
        margin-left: 0%;
        margin-top: 5%;
        text-align: center
    }
    .block-2-img img{
        /* margin-top: 20px; */
        /* width: 100%; */
    }

    .block-2-txt {
        width:80%;
        /* margin-left: 10%; */
    }

    .feature-block-2 h3 {
        margin-left: 0%;
        
    } 
    /* .block-3-1-img img {
    top: 73%;
    left: 50%;
    width: 200px;
    }
    .block-3-2-img img {
        top: 88%;
        width: 200px;
        left: 58%;
    }
    .block-3-3-img img {
        top: 82%;
        width: 200px;
        left: 5%;
    } */
}


@media screen and (min-width: 768px) {

    

    .about-info h1{
        text-align: left;
        margin-left: 47%;
        margin-top: 0px;

    }
    .about-info-txt {
        margin-top: 0px;
        padding: 0px;
        width: 50%;
        margin-left: 47%;
        line-height: 1.8;
    }

    .block-1-img img{
        width: 55%;
        margin-top: 0px;
    }


    .feature-block-2 {
    margin-left: 60%;
    margin-top: -7%;
    text-align: left;

    }
    .block-2-img img{
    }

    .block-2-txt {
        width:100%;
    }

    .feature-block-3 {
        margin-left: 0;
        flex-direction: column; 
        align-items: flex-start;
        width: 60%;
        text-align: left;
        margin-top: -15%;
    }
    }

    .block-3-imggroup {
        display: flex;
        gap: 10%;
    }

    .block-3-imggroup2{
        display: flex;
    
    }

    /* Block 3 絕對定位 (大螢幕重疊) */

    .block-3-1-img {
        width: 40%;
        
    }
    .block-3-1-img img {
        width: 100%;

    }

    .block-3-2-img {
        width: 40%;
    }
    .block-3-2-img img {
        margin-top: 30%;
        width: 100%;
        
    }



    .block-3-3-img img {
        width: 100%;
    }

    .block-3-3-img  {
        margin-left: 5%;

        width: 40%;
        margin-bottom: 5%;
    }
    




@media screen and (max-width: 768px) {

    
    .about-wapper {
        margin-top: 10px;
    }
    
    
    
    
    .about-info-txt {
        font-size: 15px;
        width: 90%; 
        margin: 20px auto 30px ;
        padding: 0; 
    }

    .block-1-img img {
        width: 100%; 
        margin: 0px auto; 
    }

    .feature-block-1 h3 {
        width: 100%;
    }
    
    .feature-block-1 h3 {
        margin-left: 0;
        text-align: center;
    }

    .txtgroup1 {
        width: 100%;
    }
    
    .block-1-txt {
        line-height: 1.6;
        font-size: 15px;
        width: 100%;
        margin: auto;
    }

    
    .feature-block-2 {
        margin-top: 7%;
    }
    
    .block-2-img img {
        width: 90%; 
        margin: auto;
        display: block;
    }

    .feature-block-2 h3 { 
        font-size: 18px;
        
        text-align: center;
    } 

    .block-2-txt {
        font-size: 15px;
    }

    
    .feature-block-3 {
        margin-top: 10%;
        margin-left: 10%;
    }

    }