main {
    padding-top: 100px; 
    width: 100%;
    margin: 0 auto;
    background-color: transparent;

}
.about-wapper{
    width: 100%;
    margin-top: 0px;

}

/* about */
.about-info h1 {
    font-size: 24px;
    letter-spacing: 5px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: "Noto Serif TC", serif; 
}
.about-info-txt {
    margin: 20px auto 50px auto; 
    color: #5D5959;
    line-height: 1.8;
    font-size: 16px;
}

/* block1 */
.block-1-txt {
    width: 80%;
    color: #5D5959;
    line-height: 1.8;
    font-size: 16px;
    margin-left: 20%;
}
.txtgroup1 {
    width: 55%;
}
.feature-block-1 h3 {
    width: 80%;
    /* margin-left: 23%; */
    /* border: 1px solid blue; */
    font-family: "Noto Serif TC", serif; 
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 20%;
}


/* block2 */
.feature-block-2 {
    margin-left: 60%;
    margin-top: -7%;
}
.block-2-img img{
    width: 100%;
}
.block-2-txt {
    width:100%;
    color: #5D5959;
    line-height: 1.8;
    font-size: 16px;
    /* margin-left: 27%; */
}
.feature-block-2 h3 {
    margin-left: 27%;
    font-family: "Noto Serif TC", serif; 
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
}


main {
    position: relative;
}




@media screen and (min-width: 375px) {
    main {
    width: 100%;
    }

    main > section,
    main > div {
        width: 100%; 		
    }

    .about-info h1{
        text-align: center;

    }
    .about-info {
        text-align: center;
    }

    .about-info-txt {
        padding: 35px;
        text-align: left;
        line-height: 1.6;
    }

    .block-1-img img{
        width: 100%;
        margin-top: -40px;
    }

    .feature-block-2 {
        margin-left: 0%;
        margin-top: 5%;
        text-align: center
    }

    .block-2-txt {
        text-align: left;
        margin: auto;
        width: 90%;
    }

    .feature-block-2 h3 {
        margin-left: 0%;
        
    } 
}


@media screen and (min-width: 768px) {

    

    .about-info h1{
        text-align: left;
        margin-left: 47%;
        margin-top: 0px;

    }
    .about-info-txt {
        margin-top: 0px;
        padding: 0px;
        width: 50%;
        margin-left: 47%;
        line-height: 1.8;
    }

    .block-1-img img{
        width: 55%;
        margin-top: 0px;
    }


    .feature-block-2 {
    margin-left: 60%;
    margin-top: -7%;
    text-align: left;

    }
    .block-2-img img{
    }

    .block-2-txt {
        width:100%;
    }

    .feature-block-3 {
        margin-left: 0;
        flex-direction: column; 
        align-items: flex-start;
        width: 60%;
        text-align: left;
        margin-top: -15%;
    }
    }

    .block-3-imggroup {
        display: flex;
        gap: 10%;
    }

    .block-3-imggroup2{
        display: flex;
    
    }

    /* Block 3 */

    .block-3-1-img {
        width: 40%;
        
    }
    .block-3-1-img img {
        width: 100%;

    }

    .block-3-2-img {
        width: 40%;
    }
    .block-3-2-img img {
        margin-top: 30%;
        width: 100%;
        
    }



    .block-3-3-img img {
        width: 100%;
    }

    .block-3-3-img  {
        margin-left: 5%;

        width: 40%;
        margin-bottom: 5%;
    }
    
    



@media screen and (max-width: 768px) {

    
    .about-wapper {
        margin-top: 10px;
    }
    
    
    
    
    .about-info-txt {
        font-size: 15px;
        width: 90%; 
        margin: 20px auto 30px ;
        padding: 0; 
    }

    .block-1-img img {
        width: 100%; 
        margin: 0px auto; 
    }

    .feature-block-1 h3 {
        width: 100%;
    }
    
    .feature-block-1 h3 {
        margin-left: 0;
        text-align: center;
    }

    /* * {
        border: 1px solid red;
    } */
    .txtgroup1 {
        width: 100%;
    }
    
    .block-1-txt {
        text-align: left;
        margin: auto;
        width: 90%;
        line-height: 1.6;
        font-size: 15px;
    }

    
    .feature-block-2 {
        margin-top: 7%;
    }
    
    .block-2-img img {
        width: 90%; 
        margin: auto;
        display: block;
    }

    .feature-block-2 h3 { 
        font-size: 18px;
        
        text-align: center;
    } 

    .block-2-txt {
        font-size: 15px;
    }

    
    .feature-block-3 {
        margin-top: 10%;
        margin-left: 10%;
    }

    }