.banner img {
    width: 100%;
}

main {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    border-radius: 5px;
    position: relative;
    z-index: 5;
    background-color: transparent;
}
    
.faq-title {
    text-align: center;
    letter-spacing: 5px;
    font-size: 24px;
    font-family: Noto Serif TC;
    margin-bottom: 15px;
}

.intro-text {
    width: 80%;
    text-align: center;
    margin: auto;
    font-family: Noto Serif TC;
    font-size: 14px;
    line-height: 25px;
}

.faq-item {
    
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 1px solid #c9c6c6;
    border-radius: 10px;
    overflow: hidden;
    font-size: 14px;
    line-height: 25px;
}

/* FAQ 問題欄位 */
.faq-question {
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

/* 隱藏瀏覽器預設箭頭 */
.faq-question::-webkit-details-marker {
    display: none;
}
.faq-question::marker {
    content: none;
}

/* 自訂箭頭 */
.faq-question::after {
    content: "▼"; /* 向下箭頭 */
    font-size: 14px;
    transition: transform 0.3s;
}

/* 展開時箭頭旋轉 */
.faq-item[open] .faq-question::after {
    transform: rotate(180deg);
}

/* Q 標籤 */
.faq-question > span:first-child {
    font-family: Noto Serif TC;
    background-color: #FFFDFD;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.faq-item .faq-question {
    background-color: #D198A0; 
    color: rgb(77, 71, 71);
    transition: background-color 0.3s; 
}

.faq-item[open] .faq-question {
    background-color: #C5D5E6;
    color: #837e7e;
}

.faq-answer {
    background-color: #FFFDFD;
    color: #837e7e;
    padding: 10px 35px;
}

.faq-answer>span:first-child {
    font-weight: 700;
    font-family: Noto Serif TC;
    margin-right: 10px;
    color: #93aac4;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

/* ===== 手機版 ===== */
@media screen and (max-width:768px) {
    .banner-img img {
        height: 350px;
        margin-top: 60px;
        content: url("../pic.other/news-banner-simg.png");
        width: 100%;
        height: auto;
        object-fit: cover;       /* 讓圖片像背景一樣填滿 */
        object-position: left top;
    }

    main {
        width: 100%;
        padding: 20px;   
    }

    /* 內文滿版 */
    .intro-text {
        width: 100%;
        margin: 0;
    }

    /* 問答區滿版 */
    .faq-item {
        margin: 15px 0;   
        width: 100%;
        border-radius: 8px;
    }

    .faq-answer {
        padding: 10px 20px; 
    }
}
