footer CSS
footer {
  background: #E9E1E1;
  /* padding: 40px 20px; */
  font-family: "Noto Sans TC", sans-serif;
  
}

.footer-wrapper {
  max-width: 100%;
  margin: 0 auto;
  background-color: #E9E1E1;
  display: flex;              /* 水平排列 */
  justify-content: center;     /*三個區塊在wrapper中置中 */
  align-items: flex-end;   
      /* 垂直置中對齊 */
  gap: 90px;     
  padding-bottom: 40px;
        /* 三區塊間距 */
}

.footer-wrapper img {
  width: 200px;
}



.footer-container  {
  max-width: 400px;
  width: 100%;
}



address {
  font-style: normal;
  line-height: 1.8;
  font-size: 0.95rem;
}

.icon {
  display: flex;
  gap: 15px; 
}

.icon img {
  /* margin-top: 140px; */
  width: 35px;
  height: auto
  cursor: pointer;
  transition: transform 0.2s;
  color: rgb(72, 65, 78);
}

.icon img:hover {
  transform: scale(1.1);
}





@media screen and (max-width: 991px) {
  .footer-wrapper {
    display: block;
    height: 400px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer-wrapper img{
    
  }
  .icon{
    margin-left: 60%;
  }
}







@media screen and (min-width: 991px) {
  .footer-wrapper {
    height: 250px;
    
  }

  

}








