* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
            background-position: center;
            color: #333;
            position: relative; 
            z-index: 1;

            display: flex;
            flex-direction: column; 
            min-height: 100vh; 
        }

        body::before {
            content: ""; 
            position: fixed; 
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5); 
            z-index: -1; 
            }

        a {
            text-decoration: none;
            color: inherit;
        }
