* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
            background-image: url("../pic.other/repeat-bg.png");
            
            /* background-size: cover; */
            background-position: center;
            /* background-repeat: no-repeat; */
            background-size: 150px 150px;
            background-repeat: repeat;
            color: #333;
            background-color: #FFF9F9;
            position: relative; 
            z-index: 1;

            display: flex;
            flex-direction: column; 
            min-height: 100vh; /* 至少佔滿一個視口高度 */
        }

        /* 設定整個網頁的預設游標 */
        /* body { */
            /* 1. url('圖片路徑'): 指定自定義游標圖片的路徑。
            2. X Y: 設置熱點（hotspot）座標。這是游標的實際點擊點，
                例如 '8 8' 是將游標中心點設為熱點（對於 16x16 圖片）。
            3. default: 作為備用/回退（fallback）游標，如果圖片載入失敗，
                就會顯示瀏覽器的預設箭頭。
            */
            /* cursor: url('../pic.other/cursor-img-click.png') 8 8, default; */
        /* } */

        /* 改變連結（<a> 標籤）在滑過時的游標 */
        /* a {
            cursor: url('../pic.other/cursor-img-hana.png') 8 8, pointer; /* pointer 也是一個常用的回退選項 */
        /* } */ 

        body::before {
            content: ""; 
            position: fixed; /* 讓遮罩固定在整個視窗 */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
            /* 設定半透明白色遮罩 */
            /* RGBA(255, 255, 255, 0.8) = 白色，80% 不透明度 (背景圖會露出 20%) */
            background-color: rgba(255, 255, 255, 0.5); 
            
            z-index: -1; /* 將遮罩放在 body 內容的下方 */
            }

        a {
            text-decoration: none;
            color: inherit;
        }