 main {
        padding-top: 100px; 
        flex-grow: 1;
        width: 90%;
        margin: 0 auto;
        }

    main > section,
    main > div {
        max-width: 1100px; 
        width: 85%;        
        margin: auto; 設置上下間距 50px，水平置中
    }

    main {
    
    min-height: 1500px; 
    }
    
    /* about */
    .about-info {
        
    }
    .about-info h1 {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-left: 500px;
        font-family: "Noto Serif TC", serif; 
    }
    .about-info-txt {
        width: 50%;
        max-width: 700px;
        margin: 20px auto 50px auto; 
        color: #5D5959;
        line-height: 1.8;
        font-size: 14px;
        margin-left: 500px;
    }

    

    /* block1 */

    .feature-block-1 {
        
    }
    .block-1-img img{
        width: 600px;
    }

    .block-1-txt {
        width: 40%;
        margin-left: 13%;
        color: #5D5959;
        line-height: 1.8;
        font-size: 13px;
    }

    .feature-block-1 h3 {
        width: 40%;
        margin-left: 20%;
        font-family: "Noto Serif TC", serif; 
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 16px;
    }


    /* block2 */
    .feature-block-2 {
        margin-left: 58%;
        margin-top: -7%;
    }
    .block-2-img img{
        width: 500px;
    }

    .block-2-txt {
        width:100%;
        color: #5D5959;
        line-height: 1.8;
        font-size: 13px;
    }

    .feature-block-2 h3 {
        margin-left: 42%;
        font-family: "Noto Serif TC", serif; 
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 16px;
    }







/* block3 */
    main {
        position: relative;
    }

    .block-3-1-img img {
        position: absolute;
        top: 60%;
        left: 5%;
        width: 250px;
    }
    .block-3-2-img img {
        position: absolute;
        top: 75%;
        width: 250px;
        left: 35%;
    }
    .block-3-3-img img {
        position: absolute;
        top: 80%;
        width: 250px;
        left: 8%;
    }

    
        

  