 header {
            width: 100%;
            /* background: rgba(255, 255, 255, 0.7);
            position: sticky;
            z-index: 100; */
            backdrop-filter: blur(4px);

            background: #E9E1E1;
            padding: 15px 40px;
            height: 60px;
            position: fixed; 
            z-index: 10;
        }

        .header-container {
            max-width: 1400px;
            display: flex;
            align-items: center;
            /* justify-content: flex-start;  */
        }

        .header-nav {
            display: flex;
            width: 1000px;
            gap: 20px;
            font-size: 10px;
        }

        .logo img {
            height: 40px;
        }

        .header-list {
            margin-left: 5%;
            list-style: none;
            display: flex;
            gap: 25px;
            
        }

        .header-item a {
            /* font-family: "Noto Serif TC", serif; */
            font-size: 14px;
            color: #545052;
            
        }