* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
            background-position: center;
            color: #333;
            background-color: #FFF9F9;
            position: relative; 
            z-index: 1;

            display: flex;
            flex-direction: column; 
            min-height: 100vh; 
        }

        body::before {
            content: ""; 
            position: fixed; /* 讓遮罩固定在整個視窗 */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
            /* 設定半透明白色遮罩 */
            /* RGBA(255, 255, 255, 0.8) = 白色，80% 不透明度 (背景圖會露出 20%) */
            background-color: rgba(255, 255, 255, 0.5); 
            
            z-index: -1; /* 將遮罩放在 body 內容的下方 */
            }

        a {
            text-decoration: none;
            color: inherit;
        }
